.bird__card {
  height: 450px;
}
.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.list-group-item {
  border: 1px 0;
}
card-param {
  font-weight: 500;
}
hidden {
  visibility: hidden;
}

